<!DOCTYPE html>
<html>
<head>
<title>The Game of War</title>

<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />

<%= stylesheet_link_tag "global" %>
<%= javascript_include_tag "global" %>
<%= render :partial => "home/deckBuilder" %>

</head>

<body>
	<div id="header">
		<h1>WAR!!!</h1>
		<form action="/home/battle" method="post">
			<input type="hidden" name="userName" id="userName" value="<%= @userName%>"/>
			<button type="submit" >New game</button>
		</form>
	</div>
	
	
		<%= yield -%>


</body>
</html>